.crypto__coins {
  overflow-y: scroll;
  width: 20vw;
  height: calc(100vh - 7rem);
  top: 0;
  padding: 1rem;
  margin-left: 2.5vw;
  position: relative;
}

.crypto__coin {
  height: 20rem;
  color: white;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background: var(--color-dark-2);
}

.crypto__coin:hover {
    background: var(--color-dark-3);
}

.crypto__header {
    text-align: center;
    padding-right: 8rem;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.crypto__paragraph {
    padding-left: 1rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    width: 23rem;
    position: relative;
}

.crypto__paragraph span {
    font-size: 2rem;
    text-align: right;
    position: absolute;
    right: 0;
}

.crypto__error {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 38rem;
  padding: 1rem;
}

.crypto__modal {
  width: 100%;
  height: 100%;
  background: url("../img/modal-crypto.jpg") no-repeat center center/cover;
  border-radius: 2rem;
  border: 1px solid white;
}

.crypto__modal .header {
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.crypto__modal-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: calc(100% - 15rem);
  align-items: center;
  justify-content: center;

}

.crypto__modal-stat {
  color: white;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.crypto__modal-stat p {
  font-size: 2rem;
}

.crypto__modal-stat:nth-child(2),
.crypto__modal-stat:nth-child(5),
.crypto__modal-stat:nth-child(8) {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
