.diesel {
    width: 20vw;
    height: 26rem;
    position: absolute;
    top: 1rem;
    right: 5rem;
    background:var(--color-dark-2);
    overflow-y: scroll;
    scrollbar-color: white;
}

.diesel__header {
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    padding-top: 1rem;
}


.diesel__place:last-child {
    border-bottom: none;
}

.diesel__place span {
    position: absolute;
    right: 1rem;
}