* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
html {
  font-size: 62.5%;
  overflow: hidden;
}
.body {
  background: rgb(228, 228, 228);
  position: relative;
  height: 100vh;
}
.inverse {
  background: rgb(26, 26, 26) !important;
  color: #fff !important;
}
.inverse__cont {
  background: rgb(52, 52, 52) !important;
}
.inverse__text {
  background: none !important;
  color: #fff !important;
}
.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
.hidden__no-space {
  position: absolute !important;
}
.active {
  background: rgba(0, 0, 0, 0) !important;
}
.background {
  z-index: -100000000;
  width: 100%;
  height: 100%;
  /* background: url(../img/back01.jpg) no-repeat center center/cover; */
  position: fixed;
  bottom: 0;
}
h3,
p {
  font-size: 1.6rem;
}
.overflow-x__scroll {
  overflow-x: scroll;
}

.crypto__img {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.info-div {
  background: #fff;
  color: rgb(26, 26, 26);
  width: 20vw;
  height: 20vh;
  position: fixed;
  border-radius: 1rem;
  color: white;
  text-align: left;
  margin-bottom: 2vh;
}
.info-div h1,
.info-div h3 {
  color: inherit;
}
.crypto-div {
  position: relative;
  cursor: pointer;
}
.coin {
  height: 100%;
  border-radius: 1rem;
}
.coin__text {
  color: rgb(26, 26, 26);
}
.info-div h3 {
  padding-left: 6.4rem;
}
.green span {
  color: rgb(0, 255, 0);
}
.red span {
  color: rgb(255, 0, 0);
}
.diesel-div {
  top: 2vh;
  right: 5vw;
  width: 20vw;
  background: #fff;
}
.diesel {
  border-radius: 1rem;
  height: 100%;
  color: rgb(26, 26, 26);
  position: relative;
  overflow: hidden;
}
.diesel__text:nth-child(1) {
  padding-top: 2rem;
}
.diesel__icon {
  z-index: -1;
  position: absolute;
  width: 25rem;
  opacity: 0.2;
  right: 0;
  top: 0;
  filter: invert(0%) sepia(19%) saturate(10%) hue-rotate(317deg) brightness(93%) contrast(80%);
}
.modal__back {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  left: 0;
  top: 0;
}
.modal {
  color: white;
  position: fixed;
  width: 50%;
  height: 60%;
  top: 20%;
  left: 25%;
  z-index: 1000;
  border-radius: 1rem;
  display: grid;
}
.modal-weather {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 2px solid rgb(61, 61, 61);
}
.modal-weather__condition {
  width: 100%;
  text-align: center;
  font-size: 4.8rem;
  display: grid;
  align-items: center;
}

.modal-coin-name {
  grid-column: 1/4;
}
.btn-close,
.btn-close-weather {
  padding: 0 1.6rem;
  border: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: none;
  font-size: 3.2rem;
  color: white;
}
.modal-coin-name {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}
.modal-img {
  position: absolute;
  left: -12rem;
  top: -12rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  z-index: -1;
  border: 2px solid rgb(61, 61, 61);
  background: rgb(88, 88, 88);
}
.modal p {
  display: inline;
}
.modal h3 {
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
  border-top: 1px solid rgb(61, 61, 61);
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
}
.modal h3:nth-child(5),
.modal h3:nth-child(8),
.modal h3:nth-child(11) {
  border-left: 1px solid rgb(61, 61, 61);
  border-right: 1px solid rgb(61, 61, 61);
}

.modal-weather {
  /* background: url(../img/modal-weather.jpg) no-repeat center center/cover; */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.modal-weather__days {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}
.modal-day-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 1.6rem 0;
}
.modal-day-4 i {
  font-size: 3.2rem;
}
.modal-day-temps {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}
.modal-day-temps h3 {
  width: 100%;
  text-align: center;
  height: 100%;
}
.modal-day-temps h3:nth-child(2),
.modal-day-temps h3:nth-child(4),
.modal-day-temps h3:nth-child(6) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.modal-weather h2 {
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}
.modal-weather h2:nth-child(2) {
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}
.modal-weather h2:hover {
  background: rgba(0, 0, 0, 0.1);
}
.modal-weather-img {
  width: 6.5rem;
  height: 6.5rem;
  opacity: 1;
  left: -3.2rem;
  top: -3.2rem;
  z-index: 5;
}
.search__city {
  width: 33.1rem;
  height: 14.5rem;
  position: absolute;
  left: 32vw;
  top: 2vh;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.search__city--results {
  top: 24rem;
  left: auto;
  right: 32vw;
  height: auto;
  overflow: hidden;
}
.search__city--result {
  color: white;
  font-size: 2.4rem;
  padding: 1.6rem 0rem 1.6rem 1.6rem;
  cursor: pointer;
}
.search__city--result:first-child {
  margin-top: 1.6rem;
}
.search__city--result:last-child {
  margin-bottom: 1.6rem;
}
.search__city--result:hover {
  background: #fff;
  color: #000;
}
.search__city .no-match {
  cursor: default;
}
.search__city .no-match:hover {
  background: none;
  color: #fff;
}
.search__city--label {
  display: block;
  color: white;
  padding-top: 1vh;
  padding-bottom: 4.8rem;
  text-align: center;
  font-size: 3.2rem;
}
.search__city--input {
  height: 3.2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-left: 3.2rem;
  padding-left: 1rem;
}
.search__city--btn {
  cursor: pointer;
  width: 8rem;
  height: 3.2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
}
.search__city--btn:hover {
  background: white;
}
.task-list {
  position: absolute;
  width: 20vw;
  height: 48rem;
  overflow: hidden;
  overflow-y: scroll;
}
.task-list__outer {
  position: absolute;
  width: 20vw;
  height: 56rem;
  border-radius: 1rem;
  right: 5vw;
  top: 24vh;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
}
.task-list__new-task {
  height: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  background: white;
  margin: 0;
  padding: 0 9%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.task-list__new-task--input {
  height: 4rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid grey;
  padding-left: 1.6rem;
}
.task-list__task {
  padding-left: 3.2rem;
  width: 20vw;
  height: 8rem;
  position: relative;
  background: white;
}
.task-list__task:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.task-list__checkbox {
  visibility: hidden;
  position: absolute;
}
.task-list__checkbox:checked ~ .task-list__label {
  text-decoration: line-through;
}
.task-list__checkbox:checked ~ .task-list__radio {
  background: black;
}
.task-list__checkbox:checked ~ .task-list__radio::before {
  opacity: 1;
}
.task-list__radio {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1rem;
  border: 1px solid black;
  left: 10%;
}
.task-list__radio::before {
  content: "";
  background: black;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  opacity: 0;
}
.task-list__label {
  cursor: pointer;
  position: absolute;
  width: 80%;
  height: 100%;
  align-items: center;
  display: grid;
  text-align: right;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid black;
  font-size: 2.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.task-list__buttons {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  padding: 0 9%;
  margin: auto;
  background: white;
  margin: 0;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  width: 12.8rem;
  height: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}
.btn__add-task,
.btn__new-task {
  border: 2px solid green;
  background: white;
  color: green;
}
.btn__add-task:hover,
.btn__new-task:hover {
  background: green;
  color: white;
}
.btn__delete-task {
  border: 2px solid red;
  background: white;
  color: red;
}
.btn__delete-task:hover {
  background: red;
  color: white;
}
.btn__show-search-bar {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1rem;
  cursor: pointer;
  right: 1.5rem;
  top: 1.5rem;
  border: none;
  outline: none;
}
.btn__show-search-bar p {
  font-size: 1.9rem;
}
.btn__show-search-bar img {
  width: 80%;
}
.btn__show-search-bar:hover {
  background: white;
}
.btn__close--search {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  background: rgba(255, 255, 255, 0.8);
}
.btn__close--search:hover {
  background: white;
}
.btn__mode {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12rem;
}
.btn__mode--dark {
  color: rgb(26, 26, 26);
}
.btn__mode--light {
  color: #fff;
  background: rgb(52, 52, 52);
}
.links {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  position: fixed;
  width: 30vw;
  bottom: 2vh;
  left: 35vw;
  border-radius: 25px;
}
.links a {
  background: rgba(98, 133, 82, 0.5);
  width: 70px;
  height: 70px;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  z-index: 5;
}
.links a:hover {
  background: rgb(98, 133, 82);
} 
